* {
  box-sizing: border-box;
}

body {
  background-color:#556538;
  min-height: 100vh;
}

ul {
  list-style-type: none;

}

a {
  color: #1f221f82;

}

h2 {
  padding-left: 10%;
  font-size: 15px;
}

.header {
  border-radius: 8px;
  background-color: #DDD0C8;
  margin: 1vw;
  box-shadow: -7px 8px 7px 0px #01110182;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.header_h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  color:rgb(50, 75, 6);
}
.header_nav_ul {
  display:flex;
  gap: 16px;
  flex-direction: row;
  text-align: right;
  padding: 5px;
  justify-content: end;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 0px;
}

.main {
  min-height: 40px;
  margin: 1vw;
  padding: 5vw;
  display: flex;
  gap: 16px;
}

.main_img {
  width: 25%;
  max-height: 40%;
  box-shadow: -10px 11px 10px 2px #01110182;
  border-radius: 45%;
  image-rendering:optimizeQuality;
}

.Resources {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.project_1 ,.project_2, .project_3, .project_4{
  width: 100%;
  box-shadow: -7px 8px 7px 0px #01110182;
  border-radius: 8px;
  background-color: #b1be9b;
  padding: 3px;
}

.footer {
  border-radius: 8px;
  background-color: #839367;
  box-shadow: -7px 8px 7px 0px #01110182;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.contact {
  display:flex;
  gap: 16px;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  main,
   .header {
    flex-direction: column;
  }

  .Resources {
    flex-direction: column;
  }

  .main {
    order: 2;
  }
}
